#buttonProgress
{
    margin-left: 15px;
}
.btn-group
{
    margin-top: .25rem;
    margin-bottom: .25rem;
}
#buttonForms
{
    margin-left: 1px;
}
.carousel-inner
{
    width:100%;
}
#logoBootstrap
{
    height: 30px;
}


